Itemlist doesn't squash consecutive spaces into one

**Newsboat version (copy the output of `newsboat -v` or the first line of `git show`)**:
newsboat 2.21.0 - https://newsboat.org/
Copyright (C) 2006-2015 Andreas Krennmair
Copyright (C) 2015-2020 Alexander Batischev
Copyright (C) 2006-2017 Newsbeuter contributors
Copyright (C) 2017-2020 Newsboat contributors

Newsboat is free software licensed under the MIT License. (Type `newsboat -vv' to see the full text.)
It bundles:
- JSON for Modern C++ library, licensed under the MIT License: https://github.com/nlohmann/json
- optional-lite library, licensed under the Boost Software License: https://github.com/martinmoene/optional-lite
- expected-lite library, licensed under the Boost Software License: https://github.com/martinmoene/expected-lite

newsboat 2.21.0
System: Linux 5.4.67-1-MANJARO (x86_64)
Compiler: g++ 10.2.0
ncurses: ncurses 6.2.20200212 (compiled with 6.2)
libcurl: libcurl/7.72.0 OpenSSL/1.1.1h zlib/1.2.11 zstd/1.4.5 libidn2/2.3.0 libpsl/0.21.1 (+libidn2/2.3.0) libssh2/1.9.0 nghttp2/1.41.0 (compiled with 7.72.0)
SQLite: 3.33.0 (compiled with 3.33.0)
libxml2: compiled with 2.9.10

Config file (copy from ~/.newsboat/config or ~/.config/newsboat/config):
I do not have config files.
```

```

Steps to reproduce the issue:

1. Fetch feeds from ArXiv query api (atom format).

2. In the main view, some additional spaces appear between words. 
    (https://i.imgur.com/NeuDUBx.png)

3. They do not show in the abstract view.

**Other info you think is relevant**:
In the database, `SELECT title from rss_item` also gives the additional spaces.

Hi, thanks for a good report! Can you please give me a few ArXiv URLs where you're seeing this?

Also, what's an "abstract view"? Do you mean the web page corresponding to the article?

Sure. For example, https://arxiv.org/abs/2010.03900v1
By "abstract view" I mean the view entered by clicking Return, showing the detail of the article.
Sorry I don't know the correct name for this.

Actually, I just found the source of the additional spaces.
1. Fetch the xml file from say `http://export.arxiv.org/api/query?search_query=cat:cond-mat.stat-mech&start=0&max_results=100&sortBy=lastUpdatedDate&sortOrder=descending`
2. Open the file by an text editor.
I saw the additional spaces are from a newline and two spaces in the `title` field.
So I guess this behavior may be generated from parsing?

Thank you.

Thanks!

> I guess this behavior may be generated from parsing?

Kind of. XML parser returns what it finds, and it's up to the application to decide what to do about it. Since the `<title>` tags don't have `type` attribute, we treat them as text, which implies we're free to do whatever we want to the whitespace ([RFC 4287 §3.1.1](https://tools.ietf.org/html/rfc4287#section-3.1.1)). So we do something in the "item view" (what you called "abstract view"), but do nothing in the "item list".

I admit I'm baffled by the difference in behaviour. `ItemListFormAction::item2formatted_line` doesn't look too different from `ItemViewFormAction::prepare`; both of them use the same functions to format strings.

I reproduced with r2.21-52-g52da, and here's [a copy of the feed](https://github.com/newsboat/newsboat/files/5366284/query.xml.gz) so I can still reproduce later.

Great! Thanks for clarifying this.
Will this behavior be changed in the future?

I'll know when I figure out what causes it :)

> I'll know when I figure out what causes it :)

Thank you!

> I admit I'm baffled by the difference in behaviour. `ItemListFormAction::item2formatted_line` doesn't look too different from `ItemViewFormAction::prepare`; both of them use the same functions to format strings.

The "ItemView" uses `utils::consolidate_whitespace()` to remove duplicate spaces.
This can be seen in the following gdb backtrace:
![image](https://user-images.githubusercontent.com/4629607/96511481-6de74c00-125f-11eb-8e72-eb8994927630.png)

The "ItemList" does not call any such function when formatting the article titles.


Ah. Thanks for figuring that out! I think we can call `utils::consolidate_whitespace()` from the `ItemList` then.