Miniflux: items can't be marked read if `miniflux-url` ends with a slash

This feature is awesome and works smoothly, great job @gjabell ! 

However I noticed one minor issue (not sure if it's intentional) - `PUT` requests don't follow redirects - thus I wasn't able to mark items as read. It took me a while before I noticed that I have `retrieve_url` set as `https://my.url/` which generate `PUT //v1/entries` (two slashes) which my server redirected to `/v1/entries`. After changing it to `https://my.url` everything works as expected.

Edit: for `GET`s (i.e. `//v1/feeds`) everything worked properly.

_Originally posted by @ajgon in https://github.com/newsboat/newsboat/pull/1125#issuecomment-690631853_

Thanks for bringing it to my attention :slightly_smiling_face: definitely not intentional; I think it shouldn't be too difficult to check if the status code is a redirect and resubmit the request to the new URL. I'll take a look this weekend if I have some time.

As a side note, I want to add, that not only slash may be a problem. Consider somebody set a URL as `http://my.miniflux.url` and uses SSL - his server probably would redirect him to `https://my.miniflux.url` despite not having trailing slash. So if possible, redirect sounds like a better solution.

@gjabell That's awesome, thanks!

So, it turns out this is a very easy fix! libcurl has a [setting](https://curl.haxx.se/libcurl/c/CURLOPT_FOLLOWLOCATION.html) defined for automatically following redirects, which we already have defined in [utils.cpp](https://github.com/newsboat/newsboat/blob/master/src/utils.cpp#L787). However, the default behavior for redirections is to always switch non-GET requests to GET requests, which is why this behavior currently fails. We can fix this with the [CURLOPT_POSTREDIR](https://curl.haxx.se/libcurl/c/CURLOPT_POSTREDIR.html) parameter, but I'm not sure which option we want to use (ie keep the same request type on 301s, 302s, 303s, or all three).

@Minoru if you have a particular preference let me know and I'll make a PR :slightly_smiling_face: 

I think setting the option in `utils::set_common_curl_options()` is dangerous, since that method affects *all* the HTTP calls that Newsboat makes. I don't think our "native fetcher" will be affected, but other remote APIs might break.

It seems to me that a better option would be to give `utils::retrieve_url()` a pre-made Curl handle with the option already set. Then you can use any value you like without the fear of breaking anyone else's code.

But before that: have you checked that `CURLOPT_POSTREDIR` actually fixes this issue? Its documentation never mentions PUT, so I have to wonder.

(I still haven't gotten around to reproducing this, but seems like @gjabell did, so I'm removing the "to-check" label.)

Hmm, fair point. I do think it's weird that the default behavior is to switch to GET on redirections, but it's probably safer to allow passing preset opts instead of making a sweeping change.

I did double check that it fixes it; not sure why the docs only mention POST but it seems to work with other request types as well.

> I do think it's weird that the default behavior is to switch to GET on redirections

Mostly agree. [RFC 7231 §6.4.2 notes](https://www.ietf.org/rfc/rfc7231.html#section-6.4.2) that this for "historical reasons"; [RFC 2616 §10.3.2](https://tools.ietf.org/html/rfc2616#section-10.3.2) provides more detail, saying that "some existing HTTP/1.0 user agents will erroneously change [POST method] into a GET request". So it seems like a consequence of a bug from the last century :)

It seems like response code 303 (added in HTTP/1.1) was an effort to make this less of a problem: people who wanted the request to change could return 303, while others would use 301 and 302 expecting the method not to change. But Curl seem to change the method even on 303, which is baffling to me. I'm probably misunderstanding this bit.

> it's probably safer to allow passing preset opts instead of making a sweeping change

It's already allowed: you just pass a handle as the final parameter, and the function uses it for the request. Since you're the one creating the handle, you have an opportunity to call `curl_easy_setopt` on it:

https://github.com/newsboat/newsboat/blob/f5ecb88c41bb8c0b3d1af88eabeca293b935b619/src/utils.cpp#L443-L448

> It seems like response code 303 (added in HTTP/1.1) was an effort to make this less of a problem: people who wanted the request to change could return 303, while others would use 301 and 302 expecting the method not to change. But Curl seem to change the method even on 303, which is baffling to me. I'm probably misunderstanding this bit.

That's what `HTTP 307 Temporary Redirect` and `308 Permanent Redirect` are for, they're introduced to explicitly follow with the same HTTP method as the original request. By industry standards the older `301 Moved Permanently`, `302 Found (Moved Temporarily)` as well as `303 See Other` still follow with a `GET`, regardless of what the original HTTP method was. However, `302` is discouraged to be used.

I'm too lazy right now to look up the sections in the specs, but [Wikipedia](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#3xx_redirection) describes it quite well.

@ajgon I just pushed a fix for this issue; if you are set up to compile Newsboat would you mind confirming that it works for you as well?

If anyone else wants to test it, spin up the test environment in `contrib/miniflux` with `docker-compose up -d` (probably need to run the command twice since Miniflux crashes if the db isn't ready), then add a feed to Miniflux (at http://localhost) and set the following settings in your config:
```
miniflux-url "http://localhost/"
miniflux-login "admin"
miniflux-password "admin1234"
```

Marking articles as read should fail before the fix and work afterwards.

You'll also need `urls-source "miniflux"` ;)

Sorry for late reply, had busy weekend :) I compiled the most recent `master` and everything works as expected. Thank you for fixing this so fast!